.card {
  border-radius: 10px;
  background-color: var(--color-darker-grey);
  height: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.card:hover {
  background-color: var(--color-dark-grey);
}

.card > a {
  color: var(--color-white);
}

.card > a:link,
.card > a:visited {
  text-decoration: none;
}

.cover {
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover .cover {
  box-shadow:
    0px 10px 13px -7px var(--color-black),
    0px 10px 15px 0px rgba(37,37,37,0.25);
  transform: scale(1.03);
}

.name {
  color: var(--color-white);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 1rem;
  margin: 1.25rem 0 0;
}

.publisher {
  color: var(--color-light-grey);
  display: block;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  margin: 0.5rem 0 0;
}
