.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.wrapper > header {
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
}

.heading > h2 {
  font-size: var(--font-size-x-heading);
  font-weight: bolder;
  margin: 0;
}

.heading > small {
  color: var(--color-light-grey);
  display: inline-block;
}

.follow {
  font-size: var(--font-size-xs);
  margin-top: auto;
  width: 11rem;
}

.description {
  color: var(--color-light-grey);
  font-size: var(--font-size-s);
  margin: 2rem 0;
}
