.show:hover {
  cursor: pointer;
}

.show a {
  text-decoration: none;
}

.show img {
  height: 11rem;
  transition: transform 0.3s;
  width: 11rem;
}

.show:hover img {
  transform: scale(1.03);
}

.show:hover .name {
  text-decoration: underline;
}

.name {
  color: var(--color-white);
  font-size: var(--font-size-s);
  font-weight: bolder;
  margin-top: 0.75rem;
}

.description {
  color: var(--color-light-grey);
  font-size: var(--font-size-xs);
  line-height: 1.15rem;
  margin-top: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
