.card {
  border-radius: 10px;
  background-color: var(--color-darker-grey);
  height: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.card:hover {
  background-color: var(--color-dark-grey);
  cursor: pointer;
}

.card > a {
  text-decoration: none;
}

.cover {
  height: 11rem;
  transition: box-shadow 0.3s, transform 0.3s;
  width: 11rem;
}

.card:hover .cover {
  box-shadow:
    0px 10px 13px -7px var(--color-black),
    0px 10px 15px 0px rgba(37,37,37,0.25);
  transform: scale(1.03);
}

.name {
  color: var(--color-white);
  font-size: var(--font-size-s);
  font-weight: bolder;
  margin-top: 0.75rem;
}

.description {
  color: var(--color-light-grey);
  font-size: var(--font-size-xs);
  line-height: 1.15rem;
  margin: 0.75rem 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
