.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.wrapper > header {
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 2rem;
}

.heading > h2 {
  font-size: var(--font-size-x-heading);
  font-weight: bolder;
  margin: 0;
}

.heading > small {
  color: var(--color-light-grey);
  margin-bottom: 0.75rem;
}

.heading > p {
  color: var(--color-light-grey);
  font-size: var(--font-size-s);
}

.episodes > h3 {
  display: inline-block;
  font-size: var(--font-size-m);
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.episodes > span {
  color: var(--color-light-grey);
  font-size: var(--font-size-m);
  font-weight: bold;
  margin-left: 0.5rem;
}

.episodes > hr {
  border: 0;
  border-top: 0.5px solid var(--color-dark-grey);
  border-radius: 10px;
  margin: 0;
}
