.wrapper {
  display: inline-flex;
}

.wrapper.xs {
  font-size: var(--font-size-xs);
}

.wrapper.s {
  font-size: var(--font-size-s);
}

.wrapper.m {
  font-size: var(--font-size-m);
}

.wrapper.l {
  font-size: var(--font-size-l);
}

.wrapper.xl {
  font-size: var(--font-size-xl);
}

.button {
  align-items: center;
  appearance: none;
  border-radius: 9px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  line-height: normal;
  overflow: hidden;
  padding: 0.6em 0.95em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 250ms, opacity 150ms;
}

.button:active {
  transform: translateY(1px);
}

.button[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.highlight {
  background-color: var(--color-white);
  border-radius: 50%;
  height: 0;
  opacity: 0.1;
  position: absolute;
  transition: 300ms height cubic-bezier(0, 0, 0.2, 1), 300ms width cubic-bezier(0, 0, 0.2, 1);
  width: 0;
  will-change: height, width;
}

.button:hover .highlight,
.button:focus .highlight {
  height: 20rem;
  width: 20rem;
}

.primary {
  background-image: linear-gradient(to top right, var(--color-dark-green) 40%, var(--color-light-green));
  border-color: var(--color-darker-green);
  border-style: solid;
  border-width: 0 0 4px 2px;
}

.secondary {
  background-color: transparent;
  border-color: var(--color-light-grey);
  border-style: solid;
  border-width: 1px 1px 2px 2px;
}

.icon {
  background-color: transparent;
  border-color: var(--color-light-grey);
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
  padding: 0.5rem;
}
