.wrapper {
  background-color: var(--color-dark-green);
  border-radius: 30px;
  border-width: 0;
  color: var(--color-white);
  padding: 0.5em 2em;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-align: center;
  transition: background-color border-color 0.3s;
  white-space: normal;
}

.wrapper:hover,
.wrapper:focus {
  background-color: var(--color-light-green);
}

.wrapper[aria-disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.quiet {
  background-color: rgba(0, 0, 0, 0);
  border: 0.0625em solid var(--color-light-grey);
  color: var(--color-white);
}

.quiet:hover,
.quiet:focus {
  border-color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
}
