.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem 0;
}

.heading {
  align-items: center;
  color: var(--color-light-grey);
  display: flex;
  gap: 1rem;
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin: 0;
}

.illustration {
  height: 21rem;
  margin: 2rem 0;
}

.button {
  font-size: var(--font-size-m);
  margin-top: 2rem;
}
