.cover.s {
  --size: 9rem;
}

.cover.m {
  --size: 11rem;
}

.cover.l {
  --size: 13rem;
}

.cover {
  border-radius: 10px;
  height: var(--size);
  min-height: var(--size);
  width: var(--size);
  min-width: var(--size);
}
