.wrapper {
  opacity: 0;
  transform: scale(0.99);
  transition: opacity 200ms, transform 150ms;
}

.wrapper.loaded {
  opacity: 1;
  transform: scale(1);
}

.cover.s {
  --size: 9rem;
}

.cover.m {
  --size: 11rem;
}

.cover.l {
  --size: 13rem;
}

.cover {
  border-radius: 10px;
  height: var(--size);
  min-height: var(--size);
  width: var(--size);
  min-width: var(--size);
}
