.details {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.title {
  font-size: var(--font-size-l);
  font-weight: 900;
  margin: 0;
}

.subtitle {
  color: var(--color-light-grey);
  font-weight: bold;
  margin: 1rem 0 0;
}

.heading > a {
  color: var(--color-light-grey);
  margin-right: auto;
  text-decoration: none;
}

.heading > a:active,
.heading > a:focus,
.heading > a:hover {
  text-decoration: underline;
}

.content,
.body {
  margin-top: 1rem;
}

.body > hr {
  border: 0;
  border-top: 0.5px solid var(--color-dark-grey);
  border-radius: 10px;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .details {
    padding: 1.25rem;
  }

  .header {
    flex-direction: row;
  }

  .heading {
    margin-top: 0;
    padding: 0 2rem;
  }

  .title {
    font-size: var(--font-size-xl);
  }
}
