.time {
  color: var(--color-light-grey);
  display: flex;
  font-size: var(--font-size-s);
  gap: 0.5rem;
  margin-top: 1rem;
}

.heading {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.description {
  color: var(--color-light-grey);
  font-size: var(--font-size-s);
  margin: 1.5rem 0;
}

.description a {
  color: var(--color-white);
}

.description a:link,
.description a:visited {
  text-decoration: none;
}

.description a:active,
.description a:focus,
.description a:hover {
  text-decoration: underline;
}
