.timestamp {
  margin-top: 1rem;
}

.heading {
  font-weight: bold;
  margin: 0;
}

.description {
  color: var(--color-light-grey);
  font-size: var(--font-size-s);
  margin: 1.5rem 0;
  word-break: break-word;
}

.description a {
  color: var(--color-white);
}

.description a:link,
.description a:visited {
  text-decoration: none;
}

.description a:active,
.description a:focus,
.description a:hover {
  text-decoration: underline;
}

.description pre {
  white-space: pre-wrap;
}
