.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 1.5rem 3rem;
  overflow-y: scroll;
}

.login > header,
.login > main,
.login > footer {
  padding: 2rem 0;
}

.login > header,
.login > footer {
  margin-top: auto;
}

.login > main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.error {
  align-items: center;
  display: flex;
  padding: 1.5rem 0;
}

.error > span:first-child {
  font-size: var(--font-size-xxl);
}

.error > span:last-child {
  font-size: var(--font-size-m);
  font-style: italic;
  letter-spacing: 0.75px;
  margin-left: 0.5rem;
}

.button {
  padding: 0.65rem 2rem;
}

.login > footer {
  color: var(--color-light-grey);
  font-style: italic;
  text-align: center;
}

.code {
  border-bottom: 1px solid;
  color: var(--color-light-grey);
  margin-left: 0.5rem;
  text-decoration: none;
  white-space: nowrap;
}

.code:hover {
  color: var(--color-light-green);
}
