:root {
  --fs-s: 0.75rem;
  --fs-m: 1rem;
  --fs-l: 1.25rem;
  --fs-xl: 2rem;

  --color-dark-green: #1db954;
  --color-light-green: #1ed760;
  --color-dark-grey: #282828;
  --color-light-grey: #b3b3b3;
  --color-black: #191414;
  --color-white: #fff;
}
