.details {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.details > hr {
  border: 0;
  border-top: 0.5px solid var(--color-dark-grey);
  border-radius: 10px;
  margin: 1.5rem 0;
}
