.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: center;
}

.wrapper > h1 {
  margin: 0;
  font-weight: bolder;
}

.s > h1 {
  font-size: var(--font-size-l);
}

.m > h1 {
  font-size: var(--font-size-xl);
}

.l > h1 {
  font-size: var(--font-size-xxl);
}
