.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.s {
  font-size: var(--font-size-l);
}

.m {
  font-size: var(--font-size-xl);
}

.l {
  font-size: var(--font-size-xxl);
}

.heading {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 0.8rem;
}

.icon {
  height: 2em;
}
