.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0 0.5rem;
  width: 100%;
}

.title {
  font-weight: 700;
  margin: 0;
  opacity: 1;
  transform: translateY(2.5rem);
  transition: opacity 175ms;
}

.header.active .title {
  opacity: 0;
}

.searchBar {
  transform: translateY(5.5rem);
  transition: transform 275ms;
}

.header.active .searchBar {
  transform: translateY(-1rem);
}

.results {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 0 1rem;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.nav.active {
  opacity: 1;
}

.menu {
  align-content: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu > li {
  border-bottom: 2px solid transparent;
  color: var(--color-light-grey);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.2;
  transition: color 200ms, border-color 200ms;
}

.menu > li:last-child {
  margin-left: 2rem;
}

.menu > li[data-active="true"] {
  color: var(--color-white);
}

.menu > li:hover {
  border-color: currentColor;
}

.menu > li[data-active="true"] {
  border-color: var(--color-light-green);
}
