.grid {
  display: grid;
  gap: 1.25rem;
  justify-content: center;
  padding: 2rem 0;
  place-items: start center;
}

.grid > article {
  height: 100%;
  width: 100%;
}

.spinner {
  font-size: var(--font-size-xxl);
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .grid {
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, 13rem);
  }
}
