.card {
  border-radius: 10px;
  background-color: var(--color-darker-grey);
  height: 100%;
  padding: 0.75rem;
  transition: background-color 300ms ease-in-out;
  width: 100%;
}

.card:hover,
.card:focus-within {
  background-color: var(--color-dark-grey);
}

.card > a {
  color: var(--color-white);
  outline: none;
}

.card > a:link,
.card > a:visited {
  text-decoration: none;
}

.body {
  display: flex;
}

.cover {
  transition: box-shadow 300ms, transform 300ms;
  margin-right: 0.75rem;
}

.card:hover .cover,
.card:focus-within .cover {
  box-shadow:
    0px 10px 13px -7px var(--color-black),
    0px 10px 16px 0px rgb(0 0 0 / 28%);
  transform: scale(1.03);
}

.name {
  color: var(--color-white);
  font-size: var(--font-size-s);
  font-weight: 500;
  margin: 0.75rem 0 0;
}

.publisher {
  color: var(--color-light-grey);
  font-size: var(--font-size-xs);
  margin: 0.25rem 0 0;
}

@media (min-width: 768px) {
  .card {
    padding: 1rem;
  }

  .body {
    flex-direction: column;
  }

  .cover {
    margin: 0;
  }

  .name {
    margin: 1.25rem 0 0;
  }
}
