.showList {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, 11rem);
  justify-content: center;
  max-height: 100%;
  overflow-y: auto;
  padding: 1.5rem;
  place-items: start center;
}
