.highlight {
  background-color: var(--color-background-start);
  border-left: 6px solid var(--color-light-green);
  position: absolute;
  transition: transform 0.2s;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.menu:hover {
  cursor: pointer;
}

.menu > li {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  z-index: 1;
}

.menu > li + li {
  margin-top: 0.5rem;
}

.menu > li a {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 0.65rem;
  text-decoration: none;
  width: 100%;
}
