.highlight {
  background-color: var(--color-background-start);
  border-left: 6px solid var(--color-light-green);
  position: absolute;
  transition: transform 200ms;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.menu > li {
  z-index: 1;
}

.item {
  align-items: center;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 0;
  text-decoration: none;
  width: 100%;
}

.icon {
  font-size: var(--font-size-l);
}

@media (min-width: 768px) {
  .item {
    justify-content: flex-start;
    padding: 0.5rem 3.5rem;
  }

  .icon {
    margin: 0 1.1rem 0.125rem 0;
  }
}
