.highlight {
  background-color: var(--color-background-start);
  border-left: 6px solid var(--color-light-green);
  position: absolute;
  transition: transform 0.2s;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.menu > li {
  z-index: 1;
}

.item {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-weight: 500;
  padding: 0.5rem 4rem;
  text-decoration: none;
  width: 100%;
}

.icon {
  font-size: var(--font-size-l);
  margin: 0 1.1rem 0.125rem 0;
}
