.navbar {
  background-color: var(--color-black);
  box-shadow: rgba(0 0 0 / 0.75) 0px 0px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.25rem 0;
}

.logo {
  margin: 0.3rem 0 2.5rem;
}
