.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  opacity: 0;
  padding: 2rem 0 1rem;
  transform: scale(0.75);
  transition: opacity 300ms, transform 200ms;
}

.profile.loaded {
  opacity: 1;
  transform: scale(1);
}

.avatar {
  border-radius: 50%;
  height: 2.625rem;
  width: 2.625rem;
}

.name {
  font-size: var(--font-size-s);
  font-weight: 500;
  margin-top: 0.75rem;
}

.logout {
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .profile {
    padding-bottom: 2.5rem;
  }

  .avatar {
    height: 4.5rem;
    width: 4.5rem;
  }
}
