.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: auto;
  opacity: 0;
  padding: 2rem 0 2.5rem;
  transform: scale(0.75);
  transition: opacity 300ms, transform 200ms;
}

.profile.loaded {
  opacity: 1;
  transform: scale(1);
}

.avatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.name {
  font-size: var(--font-size-s);
  font-weight: 500;
}

.logout {
  margin-top: 0.25rem;
}

@media (min-width: 768px) {
  .avatar {
    height: 4.5rem;
    width: 4.5rem;
  }
}
