.emptyState {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.emptyState.s {
  font-size: var(--font-size-s);
}

.emptyState.m {
  font-size: var(--font-size-m);
}

.emptyState.l {
  font-size: var(--font-size-l);
}

.illustration {
  height: 23em;
  margin: 2em 0;
}

.title,
.subtitle {
  color: var(--color-light-grey);
  margin: 1rem 0;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25em;
}
