.emptyState {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.illustration {
  height: 23rem;
  margin: 2rem 0;
}

.title,
.subtitle {
  color: var(--color-light-grey);
  margin: 1rem 0;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.subtitle {
  font-size: var(--font-size-l);
}
