.page {
  height: 100%;
  overflow: auto;
}

.header {
  background-color: #212121;
  position: sticky;
  padding: 2rem 2rem 0;
  top: 0;
  z-index: 1;
}

.header > h2 {
  font-size: var(--font-size-l);
  font-weight: bolder;
  margin: 0;
}

.header > hr {
  border: 0;
  border-top: 0.5px solid var(--color-dark-grey);
  border-radius: 10px;
  margin-top: 1rem;
}
