.details {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.details > header {
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.heading > h2 {
  font-size: var(--font-size-xxl);
  font-weight: 900;
  margin: 0;
}

.heading > span {
  color: var(--color-light-grey);
  font-size: var(--font-size-l);
  font-weight: bold;
}

.heading > p {
  color: var(--color-light-grey);
  font-size: var(--font-size-s);
  margin-top: 2rem;
}

.content {
  margin-top: 1.5rem;
}

.content > hr {
  border: 0;
  border-top: 0.5px solid var(--color-dark-grey);
  border-radius: 10px;
}
