.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: var(--vh);
  padding: 0 1.5rem;
}

.container header,
.container main {
  flex: 2;
}

.container footer {
  flex: 1;
}

.container header {
  align-items: flex-end;
  display: flex;
}

.container main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.error {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.error span:first-child {
  font-size: var(--font-size-xxl);
}

.error span:last-child {
  font-size: var(--font-size-m);
  letter-spacing: 0.75px;
  margin-left: 0.5rem;
}

.container footer {
  font-family: Monaco, monospace;
  font-size: var(--fs-m);
  letter-spacing: 0.75px;
  text-align: center;
}

.container footer a {
  border-bottom: 1px solid;
  color: var(--color-white);
  margin-left: 0.6rem;
  text-decoration: none;
}

.container footer a:hover {
  color: var(--color-light-green);
}
