.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  padding: 0 1.5rem;
}

.login > header {
  flex: 1;
}

.login > main {
  flex: 3;
}

.login > footer {
  flex: 1;
}

.login > header {
  align-items: flex-end;
  display: flex;
}

.login > main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.illustration {
  height: 17.5rem;
}

.error {
  align-items: center;
  display: flex;
}

.error > span:first-child {
  font-size: var(--font-size-xxl);
}

.error > span:last-child {
  font-size: var(--font-size-m);
  font-style: italic;
  letter-spacing: 0.75px;
  margin-left: 0.5rem;
}

.button {
  font-size: var(--font-size-m);
}

.login > footer {
  font-family: Monaco, monospace;
  font-size: var(--fs-m);
  letter-spacing: 0.75px;
  padding: 3rem;
  text-align: center;
}

.login > footer a {
  border-bottom: 1px solid;
  color: var(--color-white);
  margin-left: 0.6rem;
  text-decoration: none;
}

.login > footer a:hover {
  color: var(--color-light-green);
}
